body {
    background-image: url("https://content.elmueble.com/medio/2023/05/22/gatitos_1f740045_230522123911_1000x667.jpg");

    /*background-image: url(public/footprints-concept-creative-seamless-pattern-vector.jpg);
    background-repeat: repeat;
    background-size: cover;*/
}

h1.Home {
    color: an
}

.div-1 {
    background-color: antiquewhite;
    width: 100px;
    height: 100px;
}


header 
{
    background: #222;
    color: #fff;
    padding: 1rem 60px;
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;                  
}

header h1
{
    padding-left: 200px;
}

.logo 
{
    width: 170px;
    height: auto;
}
nav a 
{
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-weight: 600; 
    font-size: 20px;       
}

h1{

}

.Services {
    background-color: rgb(122, 114, 107);
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    color: floralwhite;
}

div.seccion {

    background-repeat: no-repeat;
    background-image: url(public/cute-cat-paw-all-white-free-png.webp);

}