body.home {
    background-image: url("https://content.elmueble.com/medio/2023/05/22/gatitos_1f740045_230522123911_1000x667.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.seccion
{
    background-image: url(public/footprints-concept-creative-seamless-pattern-vector.jpg);
    background-repeat: repeat;
    background-size: cover;
}

h1.Home {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    z-index: 9999;
}

/*.div-1 {
    background-color: antiquewhite;
    width: 100px;
    height: 100px;
}*/
.welco
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: antiquewhite;
    padding-top: 10px;
    padding-bottom: 10px;
}

header 
{
    background:antiquewhite;
    border:3px solid black;
    color: #000;
    padding: 1rem 60px;
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;                  
}

header h1
{
    padding-left: 200px;
}

.logo 
{
    width: 170px;
    height: auto;
}
nav a 
{
    color: #000;
    margin: 0 10px;
    text-decoration: none;
    font-weight: 600; 
    font-size: 20px;       
}

.Services {
    background-color: rgb(122, 114, 107);
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    color: floralwhite;
}

div.seccion {

    background-repeat: no-repeat;
    background-image: url(public/cute-cat-paw-all-white-free-png.webp);

}
main 
{ 
    padding-top: 140px;
}

/*css página de sobre mi*/
/* Sección sobre, minimal */

.sobre
{
    max-width: auto;
    margin: 30px;
    background: #fffdf9;
    border: 3px solid #eee2d6;
    border-radius: 14px;
    padding: 20px;
}


.lista-simple li
{
    margin: 6px;
}

.info-simple
{
    background: #f9f3ea;
    border: 3px solid #eadfce;
    border-radius: 10px;
    padding: 12px;
}
.imagen-micheria
{
    width: 100%;
    height: 90%;
    display: block;
}
